@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background: black;
    color: white;
}
.cabecalho{
    margin-top: auto;
    width: 100%;
    padding: 0.9rem 8%;
    padding-bottom: 0;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

       .logo{
         font-family: "Poppins", sans-serif;
         font-size: 3rem;
         color: #b74b4b;
         font-weight: 600;
         cursor: pointer;
         transition: 0.5s ease;
         text-decoration: none;

            &:hover {
              transform: scale(1.1);
            }
        }

            nav a{
               font-size: 1rem;
               color: white;
               margin-left: 1rem;
               font-weight: 400;
               transition: 0.3s ease;
               border-bottom: 3px solid transparent;

                   &:hover,:active {
                       color:#b74b4b;
                       border-bottom: 3px solid;
                    }
                }
    
}


.home{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 4rem;
   background-color: black;
   padding: 5rem 9%;
   z-index: 1;
}  

.home-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    .imagem_perfil{
       margin-bottom: 20px;
       border-radius: 50%;
       position: relative;     
       transition: 0.2s linear;
       animation: backwards;
       animation: flutuar 3s ease-in-out infinite;


           &:hover{
             font-size: 1.8rem;
             font-weight: 500;
             }
           }
            
            .minha_img {
                width: 100%;
                max-width: 200px;
                min-width: 100px;
                border-radius: 50%;
                box-shadow: 0 0 18px #b74b4b;
            }

           h1 {
            font-size: 20px;
            text-align: center;
            padding: 15px;
           }

           p {
            font-size: 18px;
            font-weight: 200;
            text-align: center;
           }

           span {
              color:#b74b4b;
            }




}

#devpro-guia {
    margin-top: 30px;
    border-top: #cccccc28 1px solid ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px ;

    h3{
        font-size: 20px;
        font-weight: 500;
        padding-bottom: 15px;
    }

    span{
        color: rgb(6, 233, 176);
    }

    p{
        font-weight: 200;
        font-size: 15px;
    }
       .botao_devpro{
        display: flex;
        justify-content: center;
        width: 200px;
        margin-top: 20px;
        padding: 10px 10px;
        background-color: rgba(6, 233, 176, 0.349);
        border-radius: 10px;
        color: white;
        

             &:hover {
                background-color: rgba(83, 192, 165, 0.349);
                transform: scale(1.3)translate();
                box-shadow: 0 0 25px #1eee97 ;
            }
    }

              img{
                  margin-right: 10px;
                  border-radius: 50%;
                  width: 30px;
                  height: 30px;
                }
}

@keyframes flutuar{
    0%, 100% {
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
}
   
#menu_links{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 5px;
    border: none;

        .icon {
          filter: brightness(0) invert(1);
        }
          
        .botao_redes{
          cursor: pointer;
          transition-duration:all 0.2s ease;
          padding: 5px;
        
            img{
              width: 30px;
              height: 30px;

                &:hover{
                 transform: scale(1.3);
                }
            }

        } 


}

.rodape{
    height: 120px;
    border-top: #cccccc28 1px solid;
    background-color: #030712a2;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.678);

       p{
         margin-top: 7px;
        }

         a{
          color: #b74b4b;
          text-decoration: none;
          margin-top: 9px;

            &:hover{
                text-decoration: underline;
            }
        }
}




