@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background: black;
    color: white;
}
header{
    margin-top: auto;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    color: #b74b4b;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s ease;
    text-decoration: none;
}
.logo:hover{
    transform: scale(1.1);
}
nav a{
    font-size: 1rem;
    color: white;
    margin-left: 1rem;
    font-weight: 400;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
nav a:hover, 
nav a.active{
    color:#b74b4b;
    border-bottom: 3px solid;
}
.home{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 4rem;
   flex-direction: row;
   background-color: black;
   padding: 5rem 9%;
   position: relative;
   z-index: 1;
}
.home.home-conteudo h1{
  font-size: 500px;
  font-weight: 500;
  line-height: 1.3;
}

span{
    color:#b74b4b;
}

#conteudo p{
    margin: 1.5rem 0;
    font-size: 1.2rem;
    color: #ccc;
    line-height: 1.6;
}
.home-conteudo h3{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
}
.home .imagem_perfil{
   border-radius: 50%;
   position: relative;
   width: 40vw;    
   transition: 0.2s linear;
   animation: backwards;
   animation: flutuar 3s ease-in-out infinite;

}
.home .minha_img{
  width: 100%;
  max-width: 300px;
  min-width: 200px;
  height: auto;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0 0 18px #b74b4b;
}
.home .imagem_perfil:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

@keyframes flutuar{
    0%, 100% {
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
}
   
#menu_links{
    margin-top: 50px;
    border-top: #cccccc28 1px solid ;

}
#menu_links h1{
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: "Poppins" sans-serif;
    font-weight: 200;
}
#menu_links a{
    padding: 8px;
    border-radius: 8px;
    transition: ease-in-out 0.3s;
}
#menu_links a:hover{
    background-color: rgb(216, 119, 216);
    transform: scale(1.3)translate();
    background-color: #b74b4b;
    box-shadow: 0 0 25px #bb8484 ;
}
.sociais{
    font-weight: 15px;
    font-family: "Poppins";
}
.icon {
    margin-right: 8px;
    filter: brightness(0) invert(1) 
}


.botao_redes{
    display: inline-flex;
    text-decoration: none;
    align-items: center;
    background-color: rgba(134, 132, 132, 0.13);
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    transition-duration: 0.2s;
    padding: 2px;
    columns: 2;
    margin: 5px;
    color: white;
}
.botao_redes img{
    width: 24px;
    height: 24px;
}

.botao_redes:hover{
    background-color: rgb(216, 119, 216);
    transform: scale(1.3)translate();
    background-color: #b74b4b;
    box-shadow: 0 0 25px #bb8484 ;
}
.rodape{
    height: 120px;
    border-top: #cccccc28 1px solid;
    background-color: #030712a2;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.678);
}
.rodape p{
    margin-top: 7px;
}
.rodape a{
    color: #b74b4b;
    text-decoration: none;
    margin-top: 9px;
}
.rodape a:hover{
    text-decoration: underline;
}

/*media querys */

@media (max-width: 1024px) {
  .home {
    flex-direction: column; 
    text-align: center;
    gap: 3rem;
  }

  .home .imagem_perfil {
    width: 55vw; 
  }

  .home .home-conteudo h3 {
    font-size: 2.4rem;
  }
}

@media (max-width: 600px) {
    header{
       flex-direction: column;
       align-items: center;
       padding: 20px 0;
       margin-bottom: 0;
    }
  .home {
    margin-top: 0;
    padding-top: 0;
    flex-direction: column;
    padding: 6rem 4% 2rem;
    margin-bottom: 40px;
  }

  .home .imagem_perfil {
    width: 70vw;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .home .home-conteudo h3 {
    font-size: 1.5rem;
  }

  .menu_links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #menu_links h1{
    padding-top: 20px;
    margin-bottom: 50px;
  }

  .botao_redes {
    width: 80%;
    justify-content: center;
  }
}

